<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>Warning!</strong> This is an alpha version of the automatic exchange service.<br />
  You can exchange no more than <strong>1000 MTT</strong> per transaction (approximately <strong>40 USDT</strong> or <strong>0.06 BNB</strong>).<br />
  Transactions exceeding this amount will be processed manually and may take up to <strong>24 hours</strong>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show text-center mt-3" role="alert">
  <strong>Warning!</strong> Outgoing transactions are sent to the same address from which the original funds were sent.<br />
  Please use the <strong>MTT Sports Wallet</strong> for exchanges.<br />
  If you use centralized exchanges, <strong>your funds may be lost</strong>!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
